<div class="container">
  <div class="row card-columns">

    <div class="col-lg-4" *ngFor="let post of allPosts">
      <div class="card">
        <img src="{{post.link}}" class="card-img-top"/><br/>
        <div class="card-body">
          <p *ngFor="let comment of post.comments">
            {{comment.link}} <span class="float-right"><fa-icon [icon]="faTrashAlt" (click)="deleteComment(comment.id)"></fa-icon></span> <br/>
          </p>
          <form [formGroup]="form_add_comment" (ngSubmit)="addComment(post.id, form_add_comment.value)">
            <div class="input-group">
              <input id="link" type="text" formControlName="link" class="form-control" placeholder="Link of the comment">
              <div class="input-group-append">
                <button class="btn btn-primary button" type="submit"><fa-icon [icon]="faPlus"></fa-icon></button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <fa-icon [icon]="faTrashAlt" (click)="deletePost(post.id)"></fa-icon>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add a post</h5>
          <form [formGroup]="form_add_post" (ngSubmit)="addPost(form_add_post.value)">
            <div class="input-group">
              <input id="link" type="text" formControlName="link" placeholder="Link of the post image">
              <div class="input-group-append">
                <button class="btn btn-primary button" type="submit"><fa-icon [icon]="faPlus"></fa-icon></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>