<div class="container">
  <div class="row card-columns">

    <div class="col-lg-4" *ngFor="let post of allPosts">
      <div class="card">
        <e-img src="{{post.link}}" class="card-img-top"></e-img>
        <div class="card-body">

          <div *ngFor="let comment of post.comments" class="mb-3">
            <e-txt [hidden]="isFormDisplayed('comment', comment.id)" src="{{comment.link}}"></e-txt>
            <form [hidden]="!isFormDisplayed('comment', comment.id)"
                  [formGroup]="getEditForm('comment', comment.id)"
                  (ngSubmit)="editComment(comment.id, getEditForm('comment', comment.id).value)">
              <div class="input-group">
                <input id="link" type="text" formControlName="link" class="form-control" placeholder="Link of the comment">
                <div class="input-group-append">
                  <button class="btn btn-primary button" type="submit"><fa-icon [icon]="faCheck"></fa-icon></button>
                </div>
              </div>
            </form>
            <span class="float-right"><fa-icon [icon]="faTrashAlt" (click)="deleteComment(comment.id)"></fa-icon></span>
            <span class="float-right"><fa-icon [icon]="faPencilAlt" (click)="toggleForm('comment', comment.id)"></fa-icon></span><br/>
          </div>

          <form [formGroup]="form_add_comment" (ngSubmit)="addComment(post.id, form_add_comment.value)">
            <div class="input-group">
              <input id="link" type="text" formControlName="link" class="form-control" placeholder="Link of the comment">
              <div class="input-group-append">
                <button class="btn btn-primary button" type="submit"><fa-icon [icon]="faPlus"></fa-icon></button>
              </div>
            </div>
          </form>
          <form [hidden]="!isFormDisplayed('post', post.id)"
                [formGroup]="getEditForm('post', post.id)"
                (ngSubmit)="editPost(post.id, getEditForm('post', post.id).value)">
            <div class="input-group">
              <input id="link" type="text" formControlName="link" class="form-control" placeholder="Link of the post image">
              <div class="input-group-append">
                <button class="btn btn-primary button" type="submit"><fa-icon [icon]="faCheck"></fa-icon></button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <fa-icon [icon]="faTrashAlt" (click)="deletePost(post.id)"></fa-icon>
          <fa-icon [icon]="faPencilAlt" (click)="toggleForm('post', post.id)"></fa-icon>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add a post</h5>
          <form [formGroup]="form_add_post" (ngSubmit)="addPost(form_add_post.value)">
            <div class="input-group">
              <input id="link" type="text" formControlName="link" class="form-control" placeholder="Link of the post image">
              <div class="input-group-append">
                <button class="btn btn-primary button" type="submit"><fa-icon [icon]="faPlus"></fa-icon></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>